body {
  background-image: url('background.jpeg');
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic-profile {
  margin: 1rem;
  border: 2px solid red;
  display: inline-block;
  position: relative;
  top: 5rem;
  position: relative;
  right: 6rem;
}

.txt-title {
  color: aqua;
  font-size: 20px;
  margin-bottom: 1rem;
  position: relative;
  bottom: 13rem;
 }
.txt-paragraph{
      color: aqua;
      position: relative;
      font-size: 10px;
      bottom: 11rem;
      text-align: justify;
      left: 5rem;
      font-family: monospace;
}

.txt-skills h1 {
  animation: blink 1s infinite;
  color: gold;
  position: relative;
  bottom: 9rem;
  font-family: monospace;
  
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pic-python{
      position: relative;
      right: 8rem;
      bottom: 9rem;
}
.pic-js{
      position: relative;
      right: 4rem;
      bottom: 12rem;
}
.pic-html{
      position: relative;
      bottom: 15rem;
}
.pic-css{
      position: relative;
      left: 4rem;
      bottom: 294px;
}

.nav-hobbies a {
  background-color: yellow;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  font-family: monospace;
  position: relative;
  bottom: 41rem;
  right: 7rem;
}

.nav-hobbies a:hover {
  background-color: aqua;
}

.nav-vidpics a {
  background-color: yellow;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  font-family: monospace;
  position: relative;
  bottom: 42rem;
  
}

.nav-vidpics a:hover {
  background-color: aqua;
}


.txt-hobbies{
      color: gold;
      font-family: monospace;
      position: relative;
      right: 5rem;
      top: 2rem;
      
}

.nav-back a{
      color: black;
      text-decoration: none; 
      font-family: monospace;
      border-radius: 20px;
      transition: background-color 0.3s ease;
      padding: 5px 10px;
      background-color: gold;
      position: relative;
      bottom: 3rem;
      right: 8rem;
      
}

.nav-back a:hover {
  background-color: aqua;
}

.vid-boxing{
      position: relative;
      top: 3rem;
}

.txt-boxing{
      position: relative;
      bottom: 12rem;
      color: aqua;
      right: 6rem;
}

.vid-program{
      position: relative;
      top: 3rem;
}
.txt-program{
      color: aqua;
      position: relative;
      bottom: 13rem;
      right: 6rem;
}

.vid-drink{
      position: relative;
      top: 3rem;
}

.txt-vid{
      color: gold;
      font-family: monospace;
      position: relative;
      bottom: 1rem;
}

.nav-back-vidpics a{
      color: black;
      text-decoration: none; 
      font-family: monospace;
      border-radius: 20px;
      transition: background-color 0.3s ease;
      padding: 5px 10px;
      background-color: gold;
      position: relative;
      bottom: 3rem;
      right: 8rem;
      
}

.nav-back-vidpics a:hover {
  background-color: aqua;
}

.pic-figma{
      position: relative;
      bottom: 21rem;
      left: 8rem;
}  

.progress-container {
  width: 50%;
}

.progress-bar {
  background-color: #ccc;
  border-radius: 5px;
  position: relative;
  margin-bottom: 10px;
  position: relative;
  bottom: 20rem;
  left: 3rem;
}

.progress {
  height: 10px;
  border-radius: 5px;
  animation: load 5s forwards ease;
}

.py-progress {
  width: 0%;
  background-color: gold;
  animation: load-py 5s forwards ease;
}

.js-progress {
  width: 0%;
  background-color: green;
  animation: load-js 5s forwards ease;
}

.html-progress {
  width: 0%;
  background-color: aqua;
  animation: load-html 5s forwards ease;
}

.css-progress {
  width: 0%;
  background-color: blueviolet;
  animation: load-css 5s forwards ease;
}

.figma-progress {
  width: 0%;
  background-color: red;
  animation: load-figma 5s forwards ease;
}

.progress-label {
  color: aqua;
  font-size: 12px;
  margin-bottom: 2px;
  position: relative;
  bottom: 308px;
  right: 2rem;
}

.progress-percentage {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  color: red;
}

@keyframes load-py {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}

@keyframes load-js {
  0% {
    width: 0%;
  }
  100% {
    width: 10%;
  }
}

@keyframes load-html {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes load-css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes load-figma {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}


.vid-program{
      position: relative;
      top: 5rem;
}